<div class="fixed inset-0 top-16 flex justify-end z-50" (click)="closePanel()">
  <div class="shadow-md bg-white w-4/12 h-full rounded-lg p-4 flex flex-col" (click)="$event.stopPropagation()">
    <div class="flex justify-end">
      <span class="material-icons cursor-pointer" (click)="closePanel()">close</span>
    </div>
    <span class="hidden">{{tick()}}</span>
    <div class="flex justify-start gap-4 items-center ">
      @for (filter of notificationFilters; track filter.value) {
      <button type="button" class="rounded-md border-b-[2px] border-gray-500 px-2 py-1"
        [ngClass]="getFilterButtonClass(filter.value)" (click)="selectedFilter.set(filter.value)">
        {{ filter.label }}
      </button>
      }
      <span class="material-icons cursor-pointer text-xl" (click)="markNotifyAllRead()"
        title="Mark all as read">mark_email_read</span>
    </div>
    <div class="flex-1 overflow-y-auto ">
      @for(notification of filterNotification(); track notification.id){
      <div class="border-b py-1 ">
        <div class="flex justify-between items-start rounded-md p-1 w-full"
          [class.bg-white]="notification.read"
          [class.bg-blue-100]="notification.type === 'Info' && !notification.read"
          [class.bg-yellow-100]="notification.type === 'Warning' && !notification.read"
          [class.bg-red-100]="notification.type === 'Error' && !notification.read">
          <div>
            <p class="font-bold">{{notification.title}}</p>
            <p class="text-sm text-gray-500">{{notification.type}}</p>
            <p class="text-xs text-gray-400">{{notification.timeStamp | timeAgo:tick()}}</p>
            <p>{{notification.message}}</p>
          </div>
          <span>
            <span class="material-icons cursor-pointer text-xl" (click)="markSingleNotify(notification.id)"
              title="Mark as read">done</span>
            <span class="material-icons cursor-pointer text-xl" (click)="removeNotification(notification.id)"
              title="Close">close</span>
          </span>
        </div>
      </div>
      }@empty {
      <p class="font-bold text-gray-400 text-center m-auto">No Notifications Yet</p>
      }
    </div>
  </div>
</div>
